[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.6"
python-decouple = "*"
markdown = "*"
whoosh = "*"
django-haystack = "*"
jieba = "*"
redis = "*"
django-redis = "*"
hiredis = "*"
pillow = "*"
requests = "*"
"jummy blog" = {editable = true, file = "file:///Users/jummy/2018/jummy_selfblog"}
wheel = "*"
"fabric3" = "*"

[dev-packages]

[requires]
python_version = "3.6"
