{% extends "../blog/base.html" %}
{% load highlight %}
{% block css %}
<style>
    span.highlighted {
        color: red;
    }
</style>    
{% endblock %}

{% block content %}
    {% if query %}
    {% for result in page.object_list %}
        {% include 'search/search_list.html' with post=result.object %}
    {% empty %}
    <div style="padding-left: 250px;">
        <h3>你的搜索关键词是:&nbsp;&nbsp;{{ query }}</h3>
    </div>
    <div class="fly-none">没有相关数据</div>
    {% endfor %}
        {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
    {% else %}
    请输入关键字
    {% endif %}
{% endblock %}
