<div class="fly-panel detail-box" id="flyReply">
    <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
        <legend>评论</legend>
    </fieldset>
    <ul class="jieda" id="jieda">
        {% if comment_list %}
        {% for comment in comment_list %}
        <li data-id="111" class="jieda-daan">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
                <a class="fly-avatar" href="{% url 'user:home' %}">
                    <img src="{{ comment.user.profile.avatar }}" alt="{{ comment.user }}">
                </a>
                <div class="fly-detail-user">
                    <a href="" class="fly-link">
                        <cite>{{ comment.user }}</cite>
                    </a>
                </div>
                <div class="detail-hits">
                    <span>{{ comment.time }}</span>
                </div>
            </div>
            <div class="detail-body jieda-body photos">
                {% autoescape off %}
                {{ comment.html }}
                {% endautoescape %}

            </div>
            <div class="jieda-reply">
                <span class="jieda-zan zanok" type="zan">
                    <i class="iconfont icon-zan"></i>
                    <em>0</em>
                </span>
                <span type="reply">
                    <i class="iconfont icon-svgmoban53"></i>
                    回复
                </span>
                <div class="jieda-admin">
                </div>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <!-- 无数据时 -->
         <li class="fly-none">消灭零回复</li>
         {% endif %}
    </ul>
    <div class="layui-form layui-form-pane">
        <form action="/comment/" method="POST">
            <div class="layui-form-item layui-form-text">
                <a name="comment"></a>
                <div class="layui-input-block">
                    {% csrf_token %}
                    {% for file in comment_form %}
                    {{ file }}
                    {% endfor %}
                    <input type='hidden' name='post' value='{{ request.path }}'/>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn"  lay-submit>提交回复</button>
            </div>
       </form>
    </div>
</div>
