{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jummy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>

	<div class="fly-header layui-bg-black">
		<div class="layui-container">
			<a class="fly-logo" href="/">
                <img src="{% static 'images/logo.png' %}" alt="layui">
			</a>
			<ul class="layui-nav fly-nav layui-hide-xs">
				<li class="layui-nav-item layui-this">
					<a href="/">首页</a>
				</li>
				<li class="layui-nav-item">
					<a href="case/case.html">教程</a>
				</li>
				<li class="layui-nav-item">
                    <a href="http://www.layui.com/" target="_blank">关于我</a>
				</li>
			</ul>

			<ul class="layui-nav fly-nav-user">

				<!-- 未登入的状态 -->
				<li class="layui-nav-item">
					<a class="iconfont icon-touxiang layui-hide-xs" href="user/login.html"></a>
				</li>
				<li class="layui-nav-item">
					<a href="user/login.html">登入</a>
				</li>
				<li class="layui-nav-item">
					<a href="user/reg.html">注册</a>
				</li>

				<!-- 登入后的状态 -->
      <!--
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs">贤心</cite>
          <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
          <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
          <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
        </a>
        <dl class="layui-nav-child">
          <dd><a href="user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a href="user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
          <dd><a href="user/home.html"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="/user/logout/" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
  -->
</ul>
</div>
</div>

<div class="fly-panel fly-column">
	<div class="layui-container">
		<ul class="layui-clear">
			<li><a href="/">分类</a></li> 
			<li><a href="jie/index.html">归档</a></li> 
			<li><a href="jie/index.html">教程</a></li> 
			<li><a href="jie/index.html">小额赞助</a></li> 
		</ul> 

		<div class="fly-column-right layui-hide-xs"> 
			<span class="fly-search"><i class="layui-icon"></i></span> 
		</div> 

	</div> 
</div>
</div>

<div class="layui-container">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md8">
            {% block content %}
            {% endblock %}
    </div>
<div class="layui-col-md4">
    {% for side in side_bars %}
	<div class="fly-panel">
        <h3 class="fly-panel-title">{{ side.title }}</h3>
        <div class="fly-panel-main">
            <p></p>
        {% if side.display_type == 1 %}
        {% autoescape off %}
        {{ side.content }}
        {% endautoescape %}
        {% elif side.display_type == 2 %}
		<ul>
            {% for post in recently_posts %}
			<li>
                <a href="{% url 'detail' post.id %}" target="_blank">{{ post.title }}</a>
			</li>
            {% endfor %}
        </ul>
        {% elif side.display_type == 3 %}
		<ul>
            {% for post in hot_posts %}
            <li><a href="{% url 'detail' post.id %}">{{ post.title }}-{{ post.uv }}</a></li>
            {% endfor %}
        </ul>
        {% elif side.display_type == 4 %}
        <ul>
            {% for comment in recently_comments %}
            <li>{{ comment.context }}</li>
            {% endfor %}
        </ul>
        {% endif %}
	</div>
    {% endfor %}
    <p></p>
    </div>
</div>
</div>
</div>

<div class="fly-footer">
	<p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; Jummy</p>
</div>

<script src="{% static 'layui/layui.js' %}"></script>
<script>
    layui.config({
        version: "3.0.0"
        ,base: '{% static 'mods/' %}'
    }).extend({
        fly: 'index'
    }).use(['fly', 'face'], function(){
        var $ = layui.$
            ,fly = layui.fly;
        $('.jieda-accept').on('click', function(evt) {
            var target = evt.target;
            var adopt_id = target.dataset.id;
            layer.confirm('采纳该答案?', {icon: 3, title:'提示'}, function(index){
                //do something
                $.ajax({
                    method: 'POST',
                    data: {
                        adopt_id: adopt_id,
                        csrfmiddlewaretoken: 'BugKeOx4tRKlN513qft9YdDMRHa7dlphSrqBAqDE6B9pkX95juEmOn2DXE8m89Oe'
                    }
                }).done(function(res){
                    $('.adopt-' + adopt_id).show();
                }).fail(function(res) {
                    layer.msg(res.responseJSON.msg);
                    return false;
                });

                layer.close(index);
            });
        });
});
</script>
{% block javascript %}
{% endblock %}
</body>
</html>
