{% extends './base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/prettify.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="fly-panel detail-box">
    <div style="padding-bottom: 20px;">
    <span class="layui-breadcrumb" style="visibility: visible;">
        <a href="/">首页</a>
        <span lay-separator>/</span>
        <a href={% url 'category' post.category.id %}>{{ post.category.name }}</a>
        <span lay-separator>/</span>
        <a><cite>正文</cite></a>
    </span>
    </div>
    <h1>{{ post.title }}</h1>
    <div class="fly-detail-info">
       <div class="fly-admin-box" data-id="123">
           {% for tag in post.tags.all %}
           <span class="layui-btn layui-btn-xs jie-admin">{{ tag.name }}</span>
           {% endfor %}
       </div>
        <span class="fly-list-nums">
            <a href="#comment"><i class="iconfont" title="评论">&#xe60c;</i> 66</a>
            <i class="iconfont" title="人气">&#xe60b;</i>{{ post.pv }}
        </span>
    </div>
    <div class="detail-about">
        <a class="fly-avatar" href="../user/home.html">
            <img src="{{ post.owner.profile.avatar }}" alt="{{ post.owner.username }}">
        </a>
        <div class="fly-detail-user">
            <a href="../user/home.html" class="fly-link">
                <cite>{{ post.owner }}</cite>
            </a>
            <span>{{ post.created_time }}</span>
        </div>
        <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
            <span style="padding-right: 10px; color: #FF7200">PV</span>
        </div>
    </div>
    <div class="detail-body photos">
    <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
        <legend>正文</legend>
    </fieldset>
        {% autoescape off %}
        {{ post.html }}
        {% endautoescape %}
    </div>
</div>
<div class="fly-panel detail-box" id="flyReply">
    <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
        <legend>评论</legend>
    </fieldset>
    <ul class="jieda" id="jieda">
        <li data-id="111" class="jieda-daan">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
                <a class="fly-avatar" href="">
                    <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt=" ">
                </a>
                <div class="fly-detail-user">
                    <a href="" class="fly-link">
                        <cite>贤心</cite>
                    </a>
                </div>
                <div class="detail-hits">
                    <span>2017-11-30</span>
                </div>
            </div>
            <div class="detail-body jieda-body photos">
                <p>香菇那个蓝瘦，这是一条被采纳的回帖</p>
            </div>
            <div class="jieda-reply">
                <span class="jieda-zan zanok" type="zan">
                    <i class="iconfont icon-zan"></i>
                    <em>66</em>
                </span>
                <span type="reply">
                    <i class="iconfont icon-svgmoban53"></i>
                    回复
                </span>
                <div class="jieda-admin">
                </div>
            </div>
        </li>

        <li data-id="111">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
                <a class="fly-avatar" href="">
                    <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt=" ">
                </a>
                <div class="fly-detail-user">
                    <a href="" class="fly-link">
                        <cite>贤心</cite>
                    </a>
                </div>
                <div class="detail-hits">
                    <span>2017-11-30</span>
                </div>
            </div>
            <div class="detail-body jieda-body photos">
                <p>蓝瘦那个香菇，这是一条没被采纳的回帖</p>
            </div>
            <div class="jieda-reply">
                <span class="jieda-zan" type="zan">
                    <i class="iconfont icon-zan"></i>
                    <em>0</em>
                </span>
                <span type="reply">
                    <i class="iconfont icon-svgmoban53"></i>
                    回复
                </span>
                <div class="jieda-admin">
                    <span type="edit"></span>
                    <span type="del"></span>
                </div>
            </div>
        </li>
        <!-- 无数据时 -->
        <!-- <li class="fly-none">消灭零回复</li> -->
    </ul>
    <div class="layui-form layui-form-pane">
        <form action="#" method="post" data-login-user="">
            <div class="layui-form-item layui-form-text">
                <a name="comment"></a>
                <div class="layui-input-block">
                    {% for file in comment_form %}
                    {{ file }}
                    {% endfor %}
                </div>
            </div>
            <div class="layui-form-item">
                <input type="hidden" name="jid" value="123">
                <button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
            </div>
       </form>
       <form>

       </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/prettify.js' %}"></script>
<script>
window.onload = function(){
    PR.prettyPrint();
}
</script>
{% endblock %}
